{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
    <table class="table">
        <thead>
        <tr>

            <th>nom de participant</th>
            <th>l'evenement</th>
            <th>Date de participation</th>


        </tr>
        </thead>
        <tbody>
        {% for participation in participation %}
            {% if participation.idEmployer==app.user.id %}
            <tr>

                {% for employe in employes %}
                  {% if participation.idEmployer==employe.id %}

                <td>{{ employe.name}}</td>
                  {% endif %}
                {% endfor %}
                {% for event in events %}
                    {% if participation.idEvent==event.id %}

                        <td>{{ event.titre}}</td>
                    {% endif %}
                {% endfor %}

                <td>{{ participation.date }}</td>
                <td>
                    {{ include('home/_delete_form.html.twig') }}
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}