{% extends 'base2.html.twig' %}

{% block title %}New TypeEvent{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <h1>Create new TypeEvent</h1>




<div class="form-group">
    {{ include('type_event/_form.html.twig') }}


    <button type="Submit" class="btn btn-primary">Valider</button>

    <a href="{{ path('type_event_index') }}">back to list</a>

    </div>


                {{ form_end(form) }}
    </div>
</div>
{% endblock %}
