{% extends 'base.html.twig' %}

{% block title %}New Commantaire{% endblock %}

{% block content %}
   <center> <h1>Leave a comment</h1> </center>

    {{ include('commantaire/_form.html.twig') }}

    <a href="{{ path('commantaire_index') }}">see other comments</a>
{% endblock %}
