<form method="post" action="{{ path('employeur_supp', {'id': app.user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="supp">
    <input type="hidden" name="_token" value="{{ csrf_token('supp' ~ app.user.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>