<form method="post" action="{{ path('category_publication_delete', {'id': category_publication.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category_publication.id) }}">
    <button class="btn">Delete</button>
</form>
