<h1>participation avec succer </h1>
<p>votre participation à l'evenement:</p>
<p>{{ event.titre }}</p>
<p>date de la participation:</p>
<p>{{ participation.date }}</p>

<p>nom de participant</p>
<p>{{ userr.name}}</p>
<p>{{ participation.email }}</p>